body{ 
    background-color: rgb(195, 213, 230);
}

#general{
font-size: 25px;

}

h2{
    color: navy;
    font-size: 40px;
}
h3{
    color: navy;
    font-size: 40px;
}
h4{
color: navy;
font-size: 40px;

}
footer{
    text-align: center;
}