*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html,
body{
height: 100%;
width: 100%;
}

header{
background-color: salmon;
height: 10%;
color: black;
display: flex;
justify-content: center;
align-items: center;
border: black solid 5px;
margin: 10px;
}

.contenedor {
  display: flex;
  flex-direction: column; /* o row para ponerlas horizontal */
  gap: 10px;
}

.caja {
  padding: 20px;
  text-align: center;
  border: black solid 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 150px;
}

.caja1 {
  background-color: red;
  display: flex;
  align-items: center ;
  justify-content: left;
  font-size: 80px;
}

.caja2 {
  background-color: aqua;
  display: flex;
  align-items: center ;
  justify-content: center;
  font-size: 80px;
  margin-top: 10px;
}

.caja3 {
  background-color: red;
  display: flex;
  align-items: center ;
  justify-content: right;
  font-size: 80px;
}

.sub3{
  display: none;
}


.contenedor-f{
display: flex;
flex-direction: column; /* o row para ponerlas horizontal */
gap: 2px;
}

.F{
  padding: 10px;
  text-align: center;
  border: black solid 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 5%;
  background-color: yellow;
}

@media (min-width: 576px) and (max-width: 768px)
{
header{
background-color: aqua;
height: 10%;
color: black;
display: flex;
justify-content: left;
align-items: center;
border: black solid 5px;
margin: 10px;
padding-left: 20px;
}

.cajas-arriba{
display: flex;
flex-direction: row;

}

.caja1 {
  background-color: red;
  display: flex;
  align-items: center ;
  justify-content: left;
  font-size: 80px;
  height: 300px;
  width: 380px;
}

.caja2 {
  background-color:red;
  display: flex;
  align-items: center ;
  justify-content: right;
  font-size: 80px;
  margin-top: 0px;
  height: 300px;
  width: 380px;
}

.caja3 {
  background-color: chartreuse;
  display: flex;
  align-items: center ;
  justify-content: center;
  font-size: 80px;
}

}

@media (min-width: 769px) {

header{
background-color: chartreuse;
height: 10%;
color: black;
display: flex;
justify-content: left;
align-items: center;
border: black solid 5px;
margin: 10px;
padding-left: 20px;
}

.sub3{
display: block;
}

.caja3{
display: none;
}

.cajas-arriba{
display: flex;
flex-direction: row;
gap: 10px;
}

.caja1 {
  background-color: red;
  display: flex;
  align-items: center ;
  justify-content: center;
  font-size: 80px;
  height:500px;
  width: 450px;
  margin-top: 10px;
  align-items: flex-start;
}

.caja2 {
  background-color: red;
  display: flex;
  align-items: center ;
  justify-content: center;
  font-size: 80px;
  height:500px;
  width: 450px;
  align-items: flex-start;
}

.sub3{
  background-color: red;
  display: flex;
  align-items: center ;
  justify-content:center;
  font-size: 80px;
  height:500px;
  width: 450px;
  margin-top: 10px;
  align-items: flex-start;
}

.contenedor-f{
display: flex;
flex-direction: row; /* o row para ponerlas horizontal */
gap: 2px;
}

.F{
  padding: 10px;
  border: black solid 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  height: 5%;
  background-color: yellow;
  width: 800px;
}

.F-1{
text-align: center;
justify-content: right;
}

.F-2{
text-align: center;
justify-content:left;
}

}